<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于步态识别的工厂安防系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>基于步态识别的<br>工厂安防系统</h2>
        <a href="{{ url_for('reco') }}">身份信息识别与预警</a>
        <a href="{{ url_for('info') }}">身份信息管理</a>
        <a href="{{ url_for('extract') }}">步态特征提取</a>
        <a href="{{ url_for('stat') }}">流量统计</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>