{% extends "base.html" %}

{% block content %}
    <h1>流量统计</h1>
    <div style="display: flex;">
        <div style="flex: 1; padding: 0px; border: 1px solid #ffffff;">
            <h2>流量统计</h2>
            <img src="{{ url_for('static', filename='images/流量.png') }}" alt="Image 1" width="500">
            <h2>人数分布</h2>
            <img src="{{ url_for('static', filename='images/人数.png') }}" alt="Image 3" width="500">
        </div>
        <div style="flex: 1; padding: 0px; border: 1px solid #ffffff;">
            <h2>平均耗时</h2>
            <img src="{{ url_for('static', filename='images/平均耗时.png') }}" alt="Image 2" width="500">
            <h2>异常人员统计</h2>
            <img src="{{ url_for('static', filename='images/异常.png') }}" alt="Image 2" width="500">
        </div>
    </div>
{% endblock %}